# Ignorer des dossiers spécifiques dans docs/
docs/CIEL1/**
docs/Maths_Premiere/**
docs/SNT/**
docs/CIEL_RESSOURCES/**
docs/Divers/**
docs/2627-SNT/**
docs/Maths_Complementaires/**
docs/Terminale_COMP/**

# Ignorer des types de fichiers partout dans le projet
*.zip
*.tex

# Ignorer le dossier de build local de MkDocs
site/

# autres fichiers et dossiers à ignorer
preambule/


__pycache__/
.pytest_cache/
.DS_Store

**/_*
**/*.tex
**/Images*
**/assets*
**/ressources*